<div class='row mb-2'>
  <div class='col-md-8'>
    <a href='/progress/{{id}}'><h5>{{name}}</h5></a>
  </div>
  <div class='col-md-4'>
    <button
      class='btn btn-sm btn-danger delete-button'
      data-id='{{id}}'
    >DELETE</button>
  </div>
</div>