<form class='form new-plant-form'>
  <div class='form-group'>
    <label for='plant-input'>Add Plant</label>
    <input class='form-input' type='text' id='plant-input' />
    <button class='btn btn-primary' type='submit'>Save</button>
  </div>
</form>