  <form class='form new-log-form'>
    <div class='form-group'>
      <label for='description-input'>Add Note</label>
      <textarea class='form-input' type='text' id='description-input' /></textarea>
    </div>
    <div class='form-group'>
      <label for='water-input'>Water Added (In fl-oz)</label>
      <input class='form-input' type='number' id='water-input'/>
    </div>
     <div class='form-group'>
      <label for='temperature-input'>Temperature</label>
      <input class='form-input' type='number' id='temperature-input'/>
    </div>
     <div class='form-group'>
      <label for='humidity-input'>Humidity</label>
      <input class='form-input' type='number' id='humidity-input'/>
    </div>
     <div class='form-group'>
      <label for='height-input'>Height</label>
      <input class='form-input' type='number' id='height-input'/>
    </div>
     <div class='form-group'>
      <label for='leaf-input'>Leaf Growth</label>
      <input class='form-input' type='text' id='leaf-input'/>
    </div>
     <div class='form-group'>
      <label for='weather-input'>Weather</label>
      <input class='form-input' type='text' id='weather-input'/>
    </div>
    <div class='form-group'>
      <button class='btn btn-primary' value='{{getGardenID progressLogs}}' id='submit-progress' type='submit'>Submit</button>
    </div>
  </form>

  <script src='../js/addLog.js'></script>