{{!-- <div class="container">
    <div class='garden-container'>
        <div class='col-md-6 plant-list'></div>
        {{#each plants as |plant|}}
            {{> garden-plants}}
        {{/each}}
        </div>
    </div>
</div>
<aside>
    {{> garden-form}}
</aside> --}}

{{!-- {{!-- <script src='./js/editGarden.js'></script> --}}

{{!-- consolidated this into progress view. keeping file in case garden is revisited in future --}}