<div class='container info-font'>
  <div class="centered-content">
    <h3>Welcome to Grow Box</h3>
    <ul class="info-font">
      <li>Create an account and store your username and login so you can access your garden.</li>
      <li>Once logged in add plants to your garden using the search bar.</li>
      <li>Enter daily logs of each individual plants daily water intake, height and leaves grown, and humidity/temp/weather condition for the day.</li>
      <li>Keep track of your individual plants progress or your whole gardens progress with a handy chart.</li>
    </ul>
  </div>
</div>