<div class='container'>
  <div class='progress-container'>
    <div style='width: 800px;'>
        <canvas id='progress-chart'></canvas>
      </div>
      {{> progress-chart}}
    </div>
    <div class='log info-font'>
      {{#each progressLogs as |log|}}
        {{> progress-log}}
      {{/each}}
    </div>
  </div>
</div>
<aside>
{{> garden-form}}
{{#if garden_id}}
  {{> progress-form}}
{{else}}
  {{#each plants as |plant|}}
    {{> garden-plants}}
  {{/each}}
{{/if}}
</aside>

<script src='./js/editGarden.js'></script>