<div class='container'>
  <div class='progress-container'>
    <div style='width: 800px;'>
        <canvas id='progress-chart'></canvas>
      </div>
      {{> progress-chart}}
    </div>
    <div class='log info-font'>
      {{#each progressLogs as |log|}}
        {{> progress-log}}
      {{/each}}
    </div>
  </div>
</div>
<aside>
  {{> progress-form}}
</aside>