<div class='container'>
  <div class='progress-container'>
    <div style='width: 800px;'>
        <canvas id='progress-chart'></canvas>
        {{> progress-chart}}
      </div>
    {{#each progressLogs as |log|}}
      {{> progress-log}}
    {{/each}}
  </div>
</div>
<aside>
  {{> progress-form}}
</aside>

<script src='./js/addLog.js'></script>