<div class='container'>
    <div class='login'>
        <form class='form edit-user-form'>
         <div class='form-group'>
            <label for='edit-user'>Change My Username</label>
            <input class='form-input' type='text' id='edit-user'/>
         </div>
         <div class='form-group'>
            <button class='btn btn-primary' type='submit'>Update</button>
         </div>
        </form>
        <form class='form edit-pass-form'>
          <div class='form-group'>
            <label for='edit-pass'>Change My Password</label>
            <input class='form-input' type='text' id='edit-pass'/>
          </div>
          <div>
            <button class='btn btn-primary' type='submit'>Update</button>
          </div>
        </form>
    </div>
</div>

<script src='./js/editUser.js'></script>